.carousel-fade .item > img {
  width:100%;
  height:auto;
}

.carousel-fade .item.slide-zoomin-lefttop > img, .carousel-fade .slide-zoomin-lefttop .item > img, .carousel-fade .item.slide-zoomout-lefttop > img, .carousel-fade .slide-zoomout-lefttop .item > img {
  -webkit-transform-origin:left top;
  transform-origin:left top;
}

.carousel-fade .item.slide-zoomin-righttop > img, .carousel-fade .slide-zoomin-righttop .item > img, .carousel-fade .item.slide-zoomout-righttop > img, .carousel-fade .slide-zoomout-righttop .item > img {
  -webkit-transform-origin:right top;
  transform-origin:right top;
}

.carousel-fade .item.slide-zoomin-rightbottom > img, .carousel-fade .slide-zoomin-rightbottom .item > img, .carousel-fade .item.slide-zoomout-rightbottom > img, .carousel-fade .slide-zoomout-rightbottom .item > img {
  -webkit-transform-origin:right bottom;
  transform-origin:right bottom;
}

.carousel-fade .item.slide-zoomin-leftbottom > img, .carousel-fade .slide-zoomin-leftbottom .item > img, .carousel-fade .item.slide-zoomout-leftbottom > img, .carousel-fade .slide-zoomout-leftbottom .item > img {
  -webkit-transform-origin:left bottom;
  transform-origin:left bottom;
}

@keyframes zoomin {
  from {
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
  }
  to {
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
  }
}

@keyframes zoomout {
  from {
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
  }
  to {
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}

.carousel-fade .item.active.slide-zoomin > img, .carousel-fade .slide-zoomin .item.active > img, .carousel-fade .item.active.slide-zoomin-lefttop > img, .carousel-fade .slide-zoomin-lefttop .item.active > img, .carousel-fade .item.active.slide-zoomin-righttop > img, .carousel-fade .slide-zoomin-righttop .item.active > img, .carousel-fade .item.active.slide-zoomin-rightbottom > img, .carousel-fade .slide-zoomin-rightbottom .item.active > img, .carousel-fade .item.active.slide-zoomin-leftbottom > img, .carousel-fade .slide-zoomin-leftbottom .item.active > img {
  animation:6s ease-in-out 0s forwards zoomin;
}

.carousel-fade .item.slide-zoomout > img, .carousel-fade .slide-zoomout .item > img, .carousel-fade .item.slide-zoomout-lefttop > img, .carousel-fade .slide-zoomout-lefttop .item > img, .carousel-fade .item.slide-zoomout-righttop > img, .carousel-fade .slide-zoomout-righttop .item > img, .carousel-fade .item.slide-zoomout-rightbottom > img, .carousel-fade .slide-zoomout-rightbottom .item > img, .carousel-fade .item.slide-zoomout-leftbottom > img, .carousel-fade .slide-zoomout-leftbottom .item > img {
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.carousel-fade .item.active.slide-zoomout > img, .carousel-fade .slide-zoomout .item.active > img, .carousel-fade .item.active.slide-zoomout-lefttop > img, .carousel-fade .slide-zoomout-lefttop .item.active > img, .carousel-fade .item.active.slide-zoomout-righttop > img, .carousel-fade .slide-zoomout-righttop .item.active > img, .carousel-fade .item.active.slide-zoomout-rightbottom > img, .carousel-fade .slide-zoomout-rightbottom .item.active > img, .carousel-fade .item.active.slide-zoomout-leftbottom > img, .carousel-fade .slide-zoomout-leftbottom .item.active > img {
  animation:6s ease-in-out 0s forwards zoomout;
}

.carousel-fade .carousel-control.left, .carousel-fade .carousel-control.right, .carousel-fade .carousel-control.left:focus, .carousel-fade .carousel-control.right:focus {
  background:#ffffff;
  color:#000000;
  top:50%;
  width:25%;
  height:90px;
  line-height:60px;
  margin-top:-45px;
  padding:12px 0;
  opacity:0;
  -webkit-transition:all .4s ease;
  transition:all .4s ease;
  text-shadow:none;
}

.carousel-fade .controls-invert .carousel-control.left, .carousel-fade .controls-invert .carousel-control.right, .carousel-fade .controls-invert .carousel-control.left:focus, .carousel-fade .controls-invert .carousel-control.right:focus {
  background:#000000;
  color:#ffffff;
}

.carousel-fade:hover .carousel-control.left, .carousel-fade:hover .carousel-control.right {
  opacity:.4;
  width:60px;
  height:60px;
  padding:0;
  margin-top:-30px;
}

.carousel-fade .carousel-control.left:hover {
  padding-left:20px;
  width:80px;
}

.carousel-fade .carousel-control.right:hover {
  padding-right:20px;
  width:80px;
}

.carousel-fade .item.slide-dark > img, .carousel-fade .slide-dark .item > img {
  position:relative;
  z-index:0;
}

.carousel-fade .item.slide-dark:after, .carousel-fade .slide-dark .item:after {
  background:rgba(0,0,0,.5);
  content:' ';
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

@media (max-width:767px) {
  .carousel-fade:hover .carousel-control.left, .carousel-fade:hover .carousel-control.right {
    display:none;
  }
}

.carousel-fade .carousel-indicators {
  height:20px;
  bottom:0;
}

.carousel-fade .carousel-indicators li {
  width:25px;
  height:4px;
  background:#ffffff;
  opacity:.3;
  border-radius:0;
  -webkit-transition:all .6s ease;
  transition:all .6s ease;
  margin:0 3px !important;
  position:relative;
  border:none;
}

.carousel-fade .carousel-indicators li:before, .carousel-fade .carousel-indicators li:after {
  position:absolute;
  left:0;
  display:inline-block;
  width:100%;
  height:10px;
  content:"";
}

.carousel-fade .carousel-indicators li:before {
  top:-10px;
}

.carousel-fade .carousel-indicators li:after {
  bottom:-10px;
}

.carousel-fade .carousel-indicators li:hover, .carousel-fade .carousel-indicators li.active, .xslideshow .carousel-indicators li:hover, .carousel-fade .carousel-control.left:hover, .carousel-fade .carousel-control.right:hover {
  opacity:.9;
}

.carousel-fade .slide-center .item {
  bottom:initial;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

.carousel-fade .carousel-caption {
  -webkit-transition:all .6s ease-out;
  transition:all .6s ease-out;
  margin-bottom:50px;
  padding:10px 15px;
  opacity:0;
  left:25%;
  right:auto;
  width:50%;
}

.carousel-fade .item.active:not(.left):not(.right) .carousel-caption {
  margin-bottom:20px;
  opacity:1;
}

.carousel-fade .slide-center .carousel-caption {
  top:50%;
  transform:translateY(-10%);
  bottom:auto;
}

.carousel-fade .slide-center.active:not(.left):not(.right) .carousel-caption, .carousel-fade .slide-center .item.active:not(.left):not(.right) .carousel-caption {
  transform:translateY(-50%);
}

.carousel-fade .carousel-caption > * {
  position:relative;
  z-index:2;
  margin:5px 0;
}

.carousel-fade .carousel-caption > *:not(.btn) {
  color:#ffffff;
}

.carousel-fade .slide-invert .carousel-caption > *:not(.btn) {
  color:#000000;
  text-shadow:0 1px 2px rgba(255,255,255,.6);
}

.carousel-fade .indicators-invert.carousel-indicators li {
  background:#000000;
}

.carousel-fade .slide-border .carousel-caption:before, .carousel-fade .slide-border .carousel-caption:after {
  content:'';
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.carousel-fade .slide-border .carousel-caption:before {
  border-top:1px solid #ffffff;
  border-bottom:1px solid #ffffff;
  height:100%;
  width:0;
}

.carousel-fade .slide-border .carousel-caption:after {
  border-left:1px solid #ffffff;
  border-right:1px solid #ffffff;
  width:100%;
  height:0;
}

@keyframes borderH {
  from {
    width:0;
    left:50%;
  }
  to {
    width:calc(100% + 14px);
    left:-7px;
  }
}

@keyframes borderV {
  from {
    height:0;
    top:50%;
  }
  to {
    height:calc(100% + 14px);
    top:-7px;
  }
}

.carousel-fade .slide-invert.slide-border .carousel-caption:before, .carousel-fade .slide-invert.slide-border .carousel-caption:after {
  border-color:#000000;
}

.carousel-fade .slide-border.active .carousel-caption:before, .carousel-fade .slide-border .active .carousel-caption:before {
  animation:.6s ease-out .2s forwards borderH;
}

.carousel-fade .slide-border.active .carousel-caption:after, .carousel-fade .slide-border .active .carousel-caption:after {
  animation:.6s ease-out .2s forwards borderV;
}

.carousel-fade .slide-background .carousel-caption {
  background:rgba(0,0,0,.5);
}

.carousel-fade .slide-invert.slide-background .carousel-caption {
  background:rgba(255,255,255,.5);
}

.carousel-fade .slide-bigcaption .carousel-caption * {
  font-size:16px;
}

.carousel-fade .slide-bigcaption .carousel-caption h3 {
  font-size:30px;
}

@media (min-width:768px) {
  .carousel-fade .slide-bigcaption .carousel-caption *:not(.btn) {
    font-size:22px;
  }
}

@media (min-width:992px) {
  .carousel-fade .slide-bigcaption .carousel-caption *:not(.btn) {
    font-size:26px;
  }
}

@media (min-width:1200px) {
  .carousel-fade .slide-bigcaption .carousel-caption *:not(.btn) {
    font-size:30px;
  }
}

@media (min-width:768px) {
  .carousel-fade .slide-bigcaption .carousel-caption h3:not(.btn) {
    font-size:40px;
  }
}

@media (min-width:992px) {
  .carousel-fade .slide-bigcaption .carousel-caption h3:not(.btn) {
    font-size:50px;
  }
}

@media (min-width:1200px) {
  .carousel-fade .slide-bigcaption .carousel-caption h3:not(.btn) {
    font-size:60px;
  }
}

.carousel-fade .carousel-inner .item {
  opacity:0;
  transition-property:opacity;
  bottom:initial;
}

.carousel-fade .carousel-inner .active {
  opacity:1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left:0;
  opacity:0;
  z-index:1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity:1;
}

.carousel-fade .carousel-control {
  z-index:2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next, .carousel-fade .carousel-inner > .item.active.right {
    opacity:0;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.prev, .carousel-fade .carousel-inner > .item.active.left {
    opacity:0;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next.left, .carousel-fade .carousel-inner > .item.prev.right, .carousel-fade .carousel-inner > .item.active {
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

